#head {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#sec3 {
    border: 2px solid white;
    width: 1350px;
    height: 200px;
    display: flex;   
    justify-content: space-around;
    
}
img {
    width: auto;
}